html {
  scroll-behavior: smooth;
}

body {
  height: 101vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $body-bg;
  font-family: $font-family1;
  font-weight: 400;
  color: #fff;
  overflow-y: hidden;
}

.menu,
h1,
h2 {
  position: relative;
  z-index: 200;
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 15px;
}

.lock {
  overflow: hidden;
}
