$container: 1640px;
$font-family1: 'Lexend', sans-serif;
// $font-family2:

// === colors ===
$body-bg: #191d0a;
$orange: #F97247 ;
$btn-border: #EBF29D;
$gray: rgba(255, 255, 255, 0.6);
$footer-bg: #311212;
