@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';

// === header ===
.header {
  &__inner {
    margin-top: 16px;
    padding: 24px 48px;
    border: 3px solid $orange;
    border-radius: 64px;
    background-color: $body-bg;
    position: relative;
    z-index: 800;
  }
}

// === /header ===

// === menu ===

.menu {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__list {
    max-width: 574px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  &__list-item:not(:last-child) {
    margin-right: 10px;
  }

  &__list-link {
    font-weight: 400;
  }

  &__controls {
    max-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  &__control {
    margin-right: 10px;
    padding: 14px;
    border-radius: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__control_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__control_img {
    margin-right: 8px;
  }

  &__control--transparent {
    border: 2px solid $btn-border;
  }

  &__control--full {
    background-color: $orange;
  }
}

// === /menu ===

// === main ===

@keyframes left-right-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes center-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.main {
  margin-bottom: 88px;

  &__left {
    max-width: 700px;
    position: relative;
    z-index: 900;
  }

  &__left::after {
    content: '';
    z-index: 100;
    width: 1000px;
    height: 1300px;
    position: absolute;
    top: -450px;
    left: -200px;
    background-image: url('../images/DotLight.png');
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title,
  &__subtitle {
    font-weight: 500;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 24px;
  }

  &__title--colored {
    color: $orange;
  }

  &__subtitle {
    color: $gray;
    margin-bottom: 48px;
    font-size: 32px;
  }

  &__link {
    padding: 20px 72px;
    background-color: $orange;
    border-radius: 48px;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    z-index: 800;
  }

  &__animation {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 332px;
    display: flex;
    height: 90vh;
  }

  &__animation_left,
  &__animation_center {
    margin-right: 16px;
  }

  &__animation_left,
  &__animation_center,
  &__animation_right {
    position: relative;
    z-index: 5;
    width: 100px;
    display: inline-block;
    white-space: nowrap;
  }

  &__animation_left,
  &__animation_right {
    opacity: 0.3;
  }

  &__animation_block--left {
    animation: 20s center-top infinite linear;
  }

  &__animation_block--center {
    animation: 10s left-right-down infinite linear;
  }

  &__animation_block--right {
    animation: 9s center-top infinite linear;
  }

  &__animation_img {
    margin-bottom: 22px;
  }

  &__right_title {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  &__right_items {
    position: relative;
    z-index: 900;
    width: 530px; //!
    max-height: 596px;
    border: 3px solid $orange;
    padding: 40px 40px 0 40px !important;
  }

  @media (max-height: 800px) {
    .main__right_items {
      max-height: 300px;
    }
  }

  &__right_items {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 100px;
  }

  &__right_items::-webkit-scrollbar {
    width: 70px; // was 8
    // height: 50px;
  }

  &__right_items::-webkit-scrollbar-thumb {
    background-color: $orange;
  }

  &__right_items::-webkit-scrollbar-thumb {
    border: 30px solid rgba(208, 84, 84, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: $orange;
  }

  &__right_item {
    padding: 16px 64px;
    margin-bottom: 16px;
    border-radius: 100px;
    background-color: $footer-bg;
    transition: background-color 0.3s;
    width: 110%;

    &:hover {
      background-color: $orange;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__right_itemTitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
    font-weight: 400;
  }
}

// === /main ===

// === footer ===

.footer {
  position: relative;
  z-index: 900;
  background-color: $footer-bg;
  padding: 40px 140px 24px 140px;
  border: 3px $orange;
  border-style: solid solid none solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__menu {
    width: 362px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menuItem:not(:last-child),
  &__socialsListItem:not(:last-child) {
    margin-right: 10px;
  }

  &__title,
  &__socialsListLink {
    line-height: 20px;
  }

  &__title {
    margin-bottom: 14px;
    text-align: end;
    font-size: 16px;
  }

  &__socialsList {
    width: 232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menuLink {
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $orange;
    }
  }
}

// === /footer ===
